<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    This is {{ name }} app!
  </h4>
    <img width="300" src="../favicon.ico">
    <br><input type="text" [(ngModel)]="sxolio">
    <p>{{ sxolio }}</p>


 </div>
 <app-newcomp></app-newcomp>
 <!--<app-servers></app-servers>-->
<!-- <h8>Here are some links to help you start: </h8>
<ul>
  <li>
    <h8><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h8>
  </li>
  <li>
    <h8><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h8>
  </li>
  <li>
    <h8><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h8>
  </li>
</ul>-->
